body {
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  font-family: 'Lucida Console', monospace;
  color: white;
  margin: 0;
}

input, button {
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
}
